<div class="row">
  <div class="col-md-10">
    <nb-card>
      <nb-card-header>Unapproved Comments</nb-card-header>
      <nb-card-body class="pr-3 pr-5">
        <ng2-smart-table
          [settings]="settingsForUnapproved"
          [source]="source"
          (edit)="approveComment($event)"
          (delete)="openDeletePrompt($event)"
        >
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <nb-card>
      <nb-card-header>Approved Comments</nb-card-header>
      <nb-card-body class="pr-3 pr-5">
        <ng2-smart-table
          [settings]="settingsForApproved"
          [source]="source2"
          (delete)="openDeletePrompt2($event)"
        >
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
